<div class="container-fluid">
    <app-navbar></app-navbar>
  </div>
  <main class="row">
    <div class="col-md-2 col-xs-12">
        <div class="tab">
    
            <button >Dashboard</button>
            <button  >Users</button>
            <button >Skills</button>
            <button >Mode of Interview</button>
            <button >PO</button>
            <button >Invoice</button>
            <button >Customer Type</button>
            <button >Notice Period</button>
            <button >Qualification</button>
            <button >Certificates</button>
            <button >Billing Modal</button>
          </div>
    </div>
    <div class="col-md-9  col-xs-12">
        <app-dashboard2></app-dashboard2>
    </div>
  
  </main>