<div class="container-fluid">
    <div class="container-fluid" style="background-color: #9B9E9E;height: 50px;">
    <h3>skills</h3>
    </div>
   </div>
   <br>
   <div class="container-fluid">
    <div class="container " style="height: 50px;background-color: #9B9E9E">
    <div class="row">
    <div class="col-sm-3" style="margin-left: 20px;width:70px">
    <input class="form-control" type="search" name="search" [(ngModel)]="filtervalue" placeholder="search">
    
    </div>
    
    <div class="col-sm-8">
    <button class="btn bg-info pull-right" style="float: right" (click)="cl()"> add</button>
    
    </div>
    
    </div>
    </div>
   </div>
   <router-outlet></router-outlet>
   <br><br>
    
   <div class="modal fade" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    
    <form #frm="ngForm" >
   
   
   
    
    <div class="form-row">
    <div class="form-group col-md-6">
    <label style="color: blue">Skill Name</label>
    <input type="text" class="form-control" name="skillName" #fisrt="ngModel" [(ngModel)]="skilln">
    </div>
    <div class="form-group col-md-4">
    <label style="color: blue">Skill Type</label>
    
    <select name="flag" #skilltype="ngModel" [(ngModel)]="skif">
    
    <option value="true">primary</option>
    <option value="false">secondary</option>
    
    </select>
    
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-success f-right" (click)="update(frm.value)" data-dismiss="modal" >update</button>
    <button type="button" class="btn btn-danger f-right" data-dismiss="modal" >Cancel</button>
    </div>
    
    </div>
    </form>
    
    </div>
    
    
    
   {{frm.value|json}}
    
    </div>
    </div>
   </div>
   <div class="container">
    <table class="table table-bordered">
    <thead>
    <tr style="background-color: #407f8f">
    
    <th scope="col">Skill Name</th>
    <th scope="col">Skill Type</th>
    <th>edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of arr1 | filter:filtervalue | paginate: { itemsPerPage: 4, currentPage: p }">
    <td scope="row">{{a.skillName}}</td>
    <td scope="row">{{a.Skilltype}}</td>
    
    <td> <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" (click)="edit(a)"><i class="material-icons">edit</i>
    
    </button>
    </td>
    </tr>
    
    </tbody>
    
    </table>
    <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>
   </div>
   <!-- <p>this is skills component</p> -->