<div class="container-fluid">
    <br>
    <p>Customer Type</p>
    <div class="container-fluid">
               
   
        <nav class="navbar navbar-light" style="background-color:rgb(230, 230, 230);">
    <input type="text" placeholder="Search" [(ngModel)]="segre" >
     <button class="btn btn-info" (click)="fn()" style="margin-left:500px">+Add</button>
       </nav>
       </div>

    <br>
    <table class="table table-bordered">
    <thead class="thead" style="background-color: rgb(31, 142, 185)">
    <tr>
    <th>Coustmer Type</th>
    <th>Amount</th>
    <th>Commission Rate</th>
    <th>Edit</th>
    </tr> 
    </thead>
    <tbody>
    <tr *ngFor="let c of tabledata | filter:segre | paginate: { itemsPerPage: 4, currentPage: p } ">
    <td>{{c.customerType}}</td>
    <td>{{c.dropdown1}}&nbsp;{{c.amount}}&nbsp;{{c.dropdown2}}</td>
    <td>{{c.commissionRate}}</td>
    <td>
    <button class="bg-info" data-toggle="modal" data-target="#exampleModal"
    (click)="modelmethod(c)"><i class="material-icons" >edit</i></button>
    
    </td>
    </tr>
    </tbody>
    </table>
   </div>
   <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel" Style="text-align:right">Update Amount</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form > 
    <div class="modal-body">
    <b>Enter Amount </b> <input class="form-control" name="amount" [(ngModel)]="amount">
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="uppit(amount)">UPDATE</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    
    </div>
    </form>
    
    </div>
    </div>
    </div>